:root
{
    --themecolour: #f0e7a8;
}
.main-header
{
    position: fixed;
    z-index: 999;

    top: 0px;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    background-color: var(--themecolour);
    border-bottom: 1px solid black;
}
.header-left
{
    float:left;
    display: block;
}
.header-right
{
    float:right;
    display: block;
}
.header-MMM
{
    float:left;
    display: block;
}
.header-languanges
{
    float: left;
    display: block;
}
.header-hlinks
{
    float: left;
    display: block;
}
.header-bottom
{
    clear: both;
}
