body
{
    margin: 0px;
    background-color: var(--themeColour);

    /* setting the background image */
    display: grid;
    background-size: cover;
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat-x: no-repeat;
    background-image: url('static/images/index/main.png');

    /* set font */
    font-size: 1em;
    font-family: var(--font);
}

.main-body
{
    /* makeing the content start lower */
    margin-top: 50%;

    width: 100%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: var(--fontSize);

}


.main-element
{
    width: 100%;
    border-radius: var(--mainBorderRounding);
    background-color: var(--themeColour);
}

/* general */
    .perfect-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .horisantal-center
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .horisantal-center-text {
        text-align: center;
    }
    .fontsize-default
    {
        /* font-size: var(--fontsize); */
    }



/* body-content general */
    .body-content
    {
        /* its ugly when text touches the side */
        padding-top: 1%;
        padding-left: var(--textSidePadding);
        padding-right: var(--textSidePadding);
        padding-bottom: 5%;
        margin-bottom: 1%;
    }
    .body-content-title
    {
        padding-top: 3%;
        text-align: center;
    }
    .body-content-subtitle
    {
        margin-top: -20px;
        text-align: center;
    }


/* introduction */
    .introduction
    {
        /* its hard to read when the text is too spread out */
        max-width: var(--textMaxWidth);

        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .introduction-text
    {
        /* justify is the best way */
        font-size: 1.2em;
        text-align: justify;
        text-justify: inter-word;
    }


/* projects */
    .projects-wrapper
    {
        text-align: center;
    }
    .projects-element
    {
        position: relative;
        width:  var(--imagesize);
        height: var(--imagesize);

        margin: 3%;
        display: inline-block;
    }
    .projects-element .projects-element-overlay
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;

        border-radius: 50%;
        color: #FFF;
    }
    .projects-element:hover .projects-element-overlay
    {
        border-radius: 50%;
        display: inline-block;


        text-decoration: none;
        color: #FFF;
        text-decoration: underline;

        background: rgba(0, 0, 0, .4);
    }
    .projects-image
    {
        width:  var(--imagesize);
        height: var(--imagesize);
        border-radius: 50%;
        display: inline-block;
    }
    .projects-element:hover
    {
        transform: scale(1.05);
        -webkit-transition: transform 0.2s ease-in-out;
        display: inline-block;
        border-radius: 50%;
    }



/* about us / team section */
    .about-element
    {
        padding-top: 5%;
        padding-bottom:  5%;
        border-bottom: 1px solid var(--themeColourMedium);

        text-align: center;
    }
    .about-image
    {
        width: var(--imagesize);
        height: var(--imagesize);

        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
    }
    .about-text
    {
        display: inline-block;
    }
    .about-name
    {
        padding: 3%;
    }
    .about-desc
    {
        max-width: var(--textMaxWidth);
        padding-left: 3%;

        font-size: var(--fontSize);
        text-align: justify;
        text-justify: inter-word;
    }

    /* checkbox for loading and unloading more team members */
    .about-loadmore-btn
    {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
    }
    .about-loadmore-btn-label
    {
        display: block;
        margin: auto;

        width: 10%;
        padding-top: 0.4em;
        padding-bottom: 0.1em;

        border: solid 1px black;
        border-radius: 20px;

        text-align: center;
    }
    .about-loadmore-btn-label:hover
    {
        border: solid 1px rgb(0,0,0,0);
        background-color: var(--themeColourDark);
    }
    /* hide and display the other team members */
    .about-more
    {
        display: none;
    }
    .about-loadmore-btn:checked ~ .about-more
    {
        display: block;
    }
    /* switch between load more and view less */
    .about-loadmore-unloaded
    {
        display: block;
    }
    .about-loadmore-btn:checked ~ .about-loadmore-btn-label .about-loadmore-unloaded
    {
        display: none;
    }
    .about-loadmore-loaded
    {
        display: none;
    }
    .about-loadmore-btn:checked ~ .about-loadmore-btn-label .about-loadmore-loaded
    {
        display: block;
    }


/* videos */
    .videos
    {
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
    .videos-element
    {
        display: inline-block;
    }






/* contact */
    .contact
    {

    }
    .contact-list
    {
        padding-top: 5%;
        margin-left: 0px;
        padding-left: 0px;

        list-style-type: none;
    }
    .contact-list-element
    {
        padding: 1%;
        padding: bottom: 3%;
    }
    .contact-list-link
    {
        color: black;
        text-decoration: none;
        text-decoration: underline;
    }



/* footer */
    .main-footer
    {
        background-color: var(--themeColourGrey);
        border-top-left-radius: var(--mainBorderRounding);
        border-top-right-radius: var(--mainBorderRounding);
    }
    .footer-text
    {
        padding: 2%;
        margin: 0px;

        text-align: center;
    }
